<ion-content>
  <ion-list lines="none">
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item>
      <ion-input [ngModel]="expression" class="visor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-fab-button class="first-line">AC</ion-fab-button>
      <ion-fab-button class="first-line">+/-</ion-fab-button>
      <ion-fab-button class="first-line">%</ion-fab-button>
      <ion-fab-button class="last-column">/</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button>7</ion-fab-button>
      <ion-fab-button>8</ion-fab-button>
      <ion-fab-button>9</ion-fab-button>
      <ion-fab-button class="last-column">X</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button>4</ion-fab-button>
      <ion-fab-button>5</ion-fab-button>
      <ion-fab-button>6</ion-fab-button>
      <ion-fab-button class="last-column">-</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button>1</ion-fab-button>
      <ion-fab-button>2</ion-fab-button>
      <ion-fab-button>3</ion-fab-button>
      <ion-fab-button class="last-column">+</ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button id="zero-btn">0</ion-fab-button>
      <ion-fab-button>.</ion-fab-button>
      <ion-fab-button>=</ion-fab-button>
    </ion-item>
  </ion-list>
</ion-content>