ion-list {
  height: 100%;
  list-style-type: none;
}

ion-input {
  font-size: 50pt;
  text-align: right;
  margin-bottom: 5%;
  margin-right: 5%;
  font-weight: lighter;
}

ion-item {
  height: 12.5%;
}

ion-button {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 22%;
  font-size: 20pt;
  --background: #363636;
  --background-activated: #242424;
  --border-radius: 40px;
}

.last-column {
  --background: #FF9F0C;
  --background-activated: #af7011;
}

.first-line {
  --background: #A5A5A5;
  --background-activated: #797979;
  --color: #050505;
}

#zero-btn {
  width: 50%;
}